

.page-footer  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    align-items: center;
    justify-content: center;
 }

 a{
    color: white;
    text-decoration: none;
 }
 nav{
    float: none;
    margin-bottom: 20px;
 }
 nav ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
}
li a {
    padding: 1em;
}

a:hover{
    background: darken(white, 10%);
}
 