<div class="container">

    
        <kendo-chart [title]="{ text: 'Charge current vs. charge time' }">
          <kendo-chart-series>
            <kendo-chart-series-item *ngFor="let series of chargeData;"
                                     type="scatterLine"
                                     name="{{ series.current }}C"
                                     [data]="series.stats"
                                     xField="time" yField="charge">
    
            </kendo-chart-series-item>
          </kendo-chart-series>
          <kendo-chart-x-axis>
              <kendo-chart-x-axis-item [title]="{ text: 'Time' }"
                                       [labels]="{ format: '{0}m' }"
                                       [max]="90">
              </kendo-chart-x-axis-item>
          </kendo-chart-x-axis>
          <kendo-chart-y-axis>
              <kendo-chart-y-axis-item [title]="{ text: 'Charge' }"
                                       [labels]="{ format: '{0}%' }"
                                       [max]="100">
              </kendo-chart-y-axis-item>
          </kendo-chart-y-axis>
          <kendo-chart-tooltip format="{1}% in {0} minutes">
          </kendo-chart-tooltip>
        </kendo-chart>
      

</div>