<body>
  <div class="sidenav bg-dark">
    <!-- <a href="#drivers">Drivers</a>
    <a href="#users">Users</a>
    <a href="#vehicles">Vehicles</a>
    <a href="#trips" routerLink="/navbar">Trips</a> -->
    <nav>
      <ul>
        <li><a href="#" routerLink="/lines">Lists</a></li>
        <li><a href="#" routerLink="/scatterplots">ScatterPlots</a></li>
        <li><a href="#" routerLink="/grid">Grids</a></li>
        <li><a href="#" routerLink="/treeview">TreeView</a></li>
        <li><a href="#" routerLink="/multiselect">MultiSelect</a></li>
        <li><a href="#" routerLink="/calendar">Calendar</a></li>
      </ul>
    </nav>

  </div>
</body>
