<div class="container">

  <kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="350"
  (pageChange)="pageChange($event)"
  [filterable]="true"
  [sortable]="{
      allowUnsort: allowUnsort,
      mode: multiple ? 'multiple' : 'single'
      }"
    [sort]="sort"
    (sortChange)="sortChange($event)" >
    <kendo-grid-column field="pId" title="ID" width="40" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="pName" title="Product NAME" width="40"></kendo-grid-column>
    <kendo-grid-column field="price" title="Price" width="40"></kendo-grid-column>
    <kendo-grid-command-column title="Action" width="40">
      <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand class="k-primary">Add</button>
          <button kendoGridRemoveCommand>Remove</button>
      </ng-template>
  </kendo-grid-command-column>
  </kendo-grid>
 
</div>