<div class="container">
    <h2>Kendo Grid - </h2>
    <kendo-grid [kendoGridBinding]="gridData" style="height: 300px" [filterable]="true" [sortable]="true"
        [pageable]="true">
        <kendo-grid-column field="pId" title="ID" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="pName" title="Product" width="240">
        </kendo-grid-column>
        <kendo-grid-column field="price" title="Price" width="80">
        </kendo-grid-column>
       
    </kendo-grid>

</div>